@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Sen:wght@400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Monserrat', sans-serif;
}

body {
  background-image: url('../assets/bg-3.png'); /* fondo general */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 850px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.425);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

/* Parte izquierda con imagen decorativa */
.imagen {
  flex: 2;
  background-image: url('../assets/cine.png'); /* imagen de amigos en el cine */
  background-size: cover;
  background-position: center;
}

/* Parte derecha con formulario */
.formulario {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario h2 {
  margin-bottom: 20px;
  color: #333;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

button {
  padding: 10px;
  background-color: #5a4ae3;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #4339bd;
}

.separador {
  text-align: center;
  margin: 15px 0;
  color: #888;
}

.google-btn {
  background-color: #db4437;
  margin-bottom: 10px;
}

.registro-btn {
  background-color: transparent;
  border: 1px solid #5a4ae3;
  color: #5a4ae3;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.registro-btn:hover {
  background-color: #5a4ae3;
  color: #fff;
}
