@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Sen:wght@400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

input, button{
  font-family: 'Montserrat', sans-serif;
  
}

body {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 500px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

/* Parte derecha con formulario */
.formulario {
  background: url('../assets/bg-3.png') center/cover no-repeat; /* fondo general */
  border-radius: 25px;
  box-shadow: 0 0 10px rgb(141, 141, 141);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario h2 {
  margin-bottom: 20px;
  color: #333;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 15px;
}

button, .registro-btn {
  border: 2px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
              linear-gradient(45deg, orange, purple) border-box;
  padding: 10px;
  border-radius: 15px;
  width: max-content  ;
}
  
button:hover {
  background-color: #4339bd;
}

.separador {
  text-align: center;
  margin: 15px 0;
  color: #888;
}
