@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Sen:wght@400..800&display=swap');
:root {
    /* Paletas de colores */

    /* Azul */
    --color-blue-900: #10404b;
    --color-blue-800: #0e6067;
    --color-blue-700: #0a8c91;
    --color-blue-600: #0fcbc5;
    --color-blue-500: #4dfff8;
    ;

    /* Morado */
    --color-purple-900: #0b2a43;
    --color-purple-800: #2f436a;
    --color-purple-700: #65639d;
    --color-purple-600: #b18bd9;
    --color-purple-500: #ffbbff;

    /* Naranja */
    --color-orange-900: #f5969d;
    --color-orange-800: #f5b18e;
    --color-orange-700: #f6d7a2;
    --color-orange-600: #f7efce;
    --color-orange-500: #f6efed;

    /* Texto */
    --color-font-secondary: #494949;
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* Header */

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 5px;
    align-items: center;
}

.logo img {
    width: 60px;
    user-select: none;
    -webkit-user-drag: none;
}

.eventum{
    background: -webkit-linear-gradient(45deg, orange, purple 80%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
}

.logo h1 {
    cursor: default;
    user-select: none;
}

nav a {
    text-decoration: none;
    border: black 1px solid;
    border-radius: 5px;
    padding: 10px 13px;
    font-weight: 500;
}

nav a:first-of-type {
    background: white;
    color: black;
    transition: all 0.4s ease;
}

nav a:last-of-type {
    background: black;
    color: white;
    transition: all 0.4s ease;
}

nav a:last-of-type:hover {
    background: rgb(36, 36, 36);
}

nav a:first-of-type:hover {
    background: rgb(235, 235, 235);
}

/* Hero */

.hero-section {
    /* background-image: url(../assets/bg-1.png); */
    background: linear-gradient(white, var(--color-purple-500), var(--color-blue-500), white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-info {
    border: 1.5px white solid;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff34;
    backdrop-filter: blur(5px);

    padding: 40px;
    width: 40%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 20px;

    transition: all 0.5s ease;

    animation: aparecer-info 1s ease;
}

@keyframes aparecer-info{
    0%{
        transform: translateX(-200%);
        filter: blur(5px);
    }

    100%{
        transform: translateX(0);
        filter: blur(0);
    }
}

.hero-info:hover {
    transform: scale(1.03);
}

.hero-info h1 {
    color: var(--color-font-main);
    font-size: 3rem;
}

.hero-section p {
    color: var(--color-font-secondary);
    margin-bottom: 5px;
}

.hero-info h2 {
    font-weight: 500;
}

.hero-img img {
    width: 600px;
    border-radius: 10px;
    animation: aparecer-imagen 1s ease;
}

@keyframes aparecer-imagen {
    0% {
        transform: translateY(150%);
        filter: blur(5px);
    }

    100% {
        transform: translateY(0);
        filter: blur(0);
    }
}

.hero-cta-btn {
    text-decoration: none;
    border: black 1px solid;
    border-radius: 5px;
    padding: 13px 17px;
    font-weight: 500;

    background: black;
    color: white;
    width: min-content;

    transition: all 0.3s ease;
}

.hero-cta-btn:hover {
    background-color: white;
    color: black;
}


/* Features Section */

.features-section {
    margin-top: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.features-section h1 {
    font-size: 3rem;
}

.features-grid {
    padding: 100px;
    grid-auto-columns: 125px;
    display: grid;
    gap: 15px;
    grid-template-areas:
        "area1 area1 area1 area2 area2 area2 area3 area3 area3"
        "area5 area5 area5 area5 area4 area4 area4 area4 area4";
}

.feature-card {
    background-image: url("../assets/bg-1.png");

    box-shadow:
        inset 5px 5px 10px #c8c8c8,
        inset -5px -5px 10px #ffffff;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.feature-card:hover {
    transform: scale(1.02);
}

.card-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-info h2{
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    border: white 1px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #c0c0c0;
    padding: 5px;
}

.card-info p{
    font-size: 1.8rem;
}

/* Ideas Section */

.ideas-section{
    background: linear-gradient(white, var(--color-orange-800), var(--color-purple-500) 80%, rgb(255, 255, 255));
    min-height: 100vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.ideas-content{
    display: flex;
    gap: 20px;
}

.ideas-video{
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.ideas-section h1{
    font-size: 3rem;
}

.ideas-video video{
    width: 40vw;
    border-radius: 10px;
    border: white 1px solid;
}

.ideas{
    display: grid;
    gap: 15px;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "idea1 idea2 idea3"
    "idea4 idea5 idea6";
}

.idea-card{
    border: 1.5px white solid;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff34;
    backdrop-filter: blur(5px);

    padding: 20px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.idea-card img{
    border-radius: 10px;
    width: 250px;
    border: white 1px solid;
}

.idea-card-info{
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Footer */

footer{
    margin: 20px;
    background: white;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}


/* Responsive */

@media (max-width: 768px) {
    
    /* Hero Section */
    
    .hero-section{
        flex-direction: column;
        padding: 40px;
        gap: 20px;
    }
    
    .hero-info{
        width: 100% ;
    }

    @keyframes aparecer-imagen{
        0%{
        transform: translateX(200%);
        filter: blur(5px);
    }

    100%{
        transform: translateX(0);
        filter: blur(0);
    }
    }

    /* Features Section */

    .features-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "area1"
        "area2"
        "area3"
        "area4"
        "area5";
    }

    .feature-card{
        width: 90vw;
    }

    /* Ideas Section */

    .ideas-section{
        padding: 40px;
    }

    .ideas-video video{
        width: 90vw;
    }

    .ideas-content{
        flex-direction: column;
    }

    .ideas{
        grid-template-areas: 
        "idea1"
        "idea2"
        "idea3"
        "idea4"
        "idea5"
        "idea6";
    }
}