@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Sen:wght@400..800&display=swap");

:root {
  /* Paletas de colores */

  /* Azul */
  --color-blue-900: #10404b;
  --color-blue-800: #0e6067;
  --color-blue-700: #0a8c91;
  --color-blue-600: #0fcbc5;
  --color-blue-500: #4dfff8;
  /* Morado */
  --color-purple-900: #0b2a43;
  --color-purple-800: #2f436a;
  --color-purple-700: #65639d;
  --color-purple-600: #b18bd9;
  --color-purple-500: #ffbbff;

  /* Naranja */
  --color-orange-900: #f5969d;
  --color-orange-800: #f5b18e;
  --color-orange-700: #f6d7a2;
  --color-orange-600: #f7efce;
  --color-orange-500: #f6efed;

  /* Texto */
  --color-font-secondary: #292929;
}

/* *{
    border: red 1px solid;
} */

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

body {
  font-family: "Montserrat", sans-serif;
}

p {
  color: var(--color-font-secondary);
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Header */

header {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;
}

.logo img {
  width: 40px;
  user-select: none;
  -webkit-user-drag: none;
}

.eventum {
  background: -webkit-linear-gradient(45deg, orange, purple 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}

.logo h1 {
  user-select: none;
  font-size: 1.3rem;
}

.options {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notifications-icon {
  border: 2px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, orange, purple) border-box;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center
}

.notifications-icon i {
  font-size: 1.7rem;
}

.sidebar-icon {
  border: 2px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, orange, purple) border-box;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-icon i {
  font-size: 1.7rem;
}

.user {
  border: 2px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, orange, purple) border-box;
  border-radius: 30px;
  padding: 5px 9px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.user img {
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
}

.user h2 {
  font-weight: 500;
  font-size: 1.2rem;
}

/* Formulario */

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
textarea,
select,
button {
  font-family: inherit;
  /* 👈 hereda la fuente del body */
  font-size: inherit;
  /* opcional: hereda tamaño de texto */
}


.form-container {
  margin: 20px;
  min-width: 70vw;

  border: 3px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, orange, purple) border-box;
  border-radius: 20px;
  padding: 25px;
  width: min-content;

  background-image: url(../assets/bg-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

textarea {
  resize: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 5px;

  border: 1px solid rgba(255, 255, 255, 0.8);
}

.form-content {
  display: flex;
  gap: 40px;
}

.form-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

input,
select {
  background-color: rgba(255, 255, 255, 0.5);
  height: 30px;
  border-radius: 10px;
  padding: 5px;

  border: 1px solid rgba(255, 255, 255, 0.8);
}

label {
  font-size: 1.8rem;
}

button {
  border: 2px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
              linear-gradient(45deg, orange, purple) border-box;
  padding: 10px;
  border-radius: 15px;
  width: 30%;
}